@import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Varela+Round&display=swap");

* {
  user-select: none;
  font-family: sans-serif;
}

#start h1 {
  font-family: "Rampart One", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80pt;
}

#playButton {
  text-align: center;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  font-size: 35pt;
  box-shadow: #7e7e7e 8px 13px 50px 0px;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 10%;
  font-family: "Varela Round", sans-serif;
}

#playButton:hover {
  scale: 1.2;
  transition: 0.5s;
  box-shadow: #7e7e7e 5px 10px 20px 0px;
}

#tutorialButton {
  text-align: center;
  width: 10%;
  padding: 2px;
  border-radius: 15px;
  float: right;
  margin-top: 5px;
  box-shadow: #7e7e7e 13px 13px 80px 0px;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 2%;
  font-family: "Varela Round", sans-serif;
}

#tutorialButton:hover {
  scale: 1.2;
  transition: 0.5s;
  box-shadow: #7e7e7e 5px 10px 50px 0px;
  margin-right: 10px;
}

#tutorialText {
  display: none;
}

#mainLoc {
  display: none;
}

#firstLocButton,
#secondLocButton,
#thirdLocButton {
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  width: fit-content;
  font-size: 25pt;
  width: 20%;
  margin: 5%;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: #7e7e7e 8px 13px 50px 0px;
  font-family: "Varela Round", sans-serif;
}

#firstLocButton:hover,
#secondLocButton:hover,
#thirdLocButton:hover {
  scale: 1.2;
  transition: 0.5s;
  box-shadow: #7e7e7e 5px 10px 20px 0px;
}

#arenaOnePreview,
#arenaTwoPreview,
#arenaThreePreview {
  display: none;
  width: 50%;
  height: 10%;
  float: right;
}
